/* -----
SVG Icons - svgicons.sparkk.fr
----- */

.svg-icon {
    width: 1.5em;
    height: 1.5em;
}

.svg-icon path,
.svg-icon polygon,
.svg-icon rect {
    fill: var(--svg-fill);
    --svg-fill: #92adad;
}

.svg-icon :hover {
    --svg-fill: #ffffff;
}
